<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <TargetFramework>netcoreapp2.2</TargetFramework>
    <ProjectGuid>0b2212b3-416c-460b-ab11-249d5de84f5c</ProjectGuid>
    <publishUrl>../_release/MapHive.Api.IdentityServer.Debug</publishUrl>
    <MSDeployServiceURL>37.187.131.216</MSDeployServiceURL>
    <DeployIisAppPath>mh - idsrv.maphive.net</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>webdeployer</UserName>
    <_SavePWD>True</_SavePWD>
    <AllowUntrustedCertificate>True</AllowUntrustedCertificate>
    <SiteUrlToLaunchAfterPublish />
    <SelfContained>false</SelfContained>
    <_IsPortable>true</_IsPortable>
    <EnvName>Production</EnvName>
  </PropertyGroup>
  <!--Copy task dlls to a temp folder, so it is possible to handle task assembly locking (this prevents subsequent builds!)-->
  <PropertyGroup>
    <TempFolder>$([System.IO.Path]::GetTempPath())\MapHiveBuildTemp\$([System.Guid]::NewGuid())</TempFolder>
  </PropertyGroup>
  <Target
    Name="CopyTaskAssemblyToTempFolder"
    BeforeTargets="BeforeBuild">
    <Copy
      SourceFiles="$(MSBuildProjectDirectory)\bin\Debug\netcoreapp2.2\Cartomatic.MsBuildUtils.dll"
      DestinationFolder="$(TempFolder)"
    />
  </Target>


  <!--requires adding <CopyLocalLockFileAssemblies>true</CopyLocalLockFileAssemblies> to PropertyGroup where TargetFramework is declared-->
  <UsingTask TaskName="MSBuildTasks.DumpGitVersion" AssemblyFile="$(TempFolder)\Cartomatic.MsBuildUtils.dll" />
  <UsingTask TaskName="MSBuildTasks.SetEnvName" AssemblyFile="$(TempFolder)\Cartomatic.MsBuildUtils.dll" />
  <UsingTask TaskName="MSBuildTasks.ResetEnvName" AssemblyFile="$(TempFolder)\Cartomatic.MsBuildUtils.dll" />
  <!--auto publishing with docfx documentation-->
  <Target Name="GenerateApiDocs" AfterTargets="BeforePublish">
    <SetEnvName WebConfigDir="$(MSBuildProjectDirectory)" EnvName="$(EnvName)" />
    <!--Note: ms build task reference: https://msdn.microsoft.com/en-us/library/7z253716.aspx-->
    <Message Text="**************** Dumping GIT version ****************" Importance="high" />
    <!--simulate cleanup - this event runs just before the publish hence if a file delete is set in the profile it will wipe out all the changes applied here..-->
    <RemoveDir Directories="$(publishUrl)" />
    <DumpGitVersion GitPath="$(MSBuildProjectDirectory)" OutPath="$(MSBuildProjectDirectory)\..\_release\" />
    <!--api git version dumped to a file-->
    <Copy SourceFiles="$(MSBuildProjectDirectory)\..\_release\version" DestinationFolder="$(MSBuildProjectDirectory)\$(publishUrl)" />
    <!--cleanup-->
    <Delete Files="$(MSBuildProjectDirectory)\..\_release\version" />
    <!--<Exec Command="example.bat" WorkingDirectory="$(publishUrl)" />-->
    <Message Text="**************** GIT version dumped ****************" Importance="high" />
  </Target>
  <Target Name="Cleanup" AfterTargets="AfterPublish">
    <!--dumping docs into project dor, so they get picked up - need to clean the mess up now!-->
    <Message Text="**************** Cleanup, cleanup, everybody cleanup ****************" Importance="high" />
    <ResetEnvName WebConfigDir="$(MSBuildProjectDirectory)" EnvName="$(EnvName)" />
    <Message Text="**************** Cleaned! ****************" Importance="high" />
  </Target>
  <PropertyGroup>
    <CopyAllFilesToSingleFolderForMsdeployDependsOn>GenerateApiDocs;
      Cleanup;</CopyAllFilesToSingleFolderForMsdeployDependsOn>
  </PropertyGroup>
</Project>